.iaZYiD {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.015em;
    font-weight: 900;
    text-align: center;
}

.jhJmTs {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.015em;
    line-height: 1.3;
    text-align: center;
}